:root {
  --width: 150px;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

.movie-card {
  display: flex;
  flex-basis: 20%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-flow: column;
  padding: 20px;
  gap: 20px;
  align-items: center;
  color: white;
  position: relative;
  margin: 0 auto;
  transition: 0.3s;
  height: 500px;
  text-align: center;
}

.movie-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.movie-card:hover > img {
  transform: scale(1.25);
}

.movie-card img {
  transition: 0.3s;
}

.movie-card-background-image {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  filter: blur(1px);
}

.movie-card h3{
  font-size: 0.8em;
}

.movie-card button {
  margin-top: auto;
  padding: 10px 10px;
  font-size: 12px;
  background-color: rgb(11, 122, 178);
  border: 0px;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  border-radius: 5px;;
}

.movie-card button:hover {
  cursor: pointer;
  background-color: rgb(8, 72, 104);
}