* {
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
  margin: 0px;
}
header {
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  padding: 0px 20px; 
}

nav {
  margin-left: auto;
  display: flex;
  gap: 20px;
}
.Nav-Link {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 900;
  color: #e50914;
  transition: 0.2s;
}

.Nav-Link:hover {
  font-size: 1.55em;
  color: #221f1f;
}

footer {
  padding: 20px;
  background-color: #e50914;
  align-items: center;
  justify-self: center;
  text-align: center;
  color: white;
}

footer p {
  text-align: center;
}